<h1>Expenses</h1>
<form action='/calculate' method='get'>
  <input class='submit' type='submit' value='Go Back'/>
</form>
<table>
  <tr class ="headings">
    <th>Item</th>
    <th>Daily</th>
    <th>Weekly</th>
    <th>Monthly</th>
    <th>Yearly</th>
  </tr>
  {{#each data}}
  <tr>
    <td>{{item}}</td>
    <td>${{pricePerDay}}</td>
    <td>${{pricePerWeek}}</td>
    <td>${{pricePerMonth}} </td>
    <td>${{pricePerYear}}</td>
  </tr>
  {{/each}}
</table>
